# Ignore Me!
# -------------------------------------

# Dependencies
# -------------------------------------
node_modules

# Build output
# -------------------------------------
dist
public
types

# Test output
# -------------------------------------
coverage